/* DAY 4 */
$bezier-day-4: cubic-bezier(.21, .98, .6, .99);
$bg-day-4: #eb5e70;

.frame-day-4 {
    background: $bg-day-4;
}

.center-day-4 {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;


    .circle {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.22);
        transform: scale(0);

        &--big {
            animation: bigCircle $bezier-day-4 2s infinite alternate;
        }

        &--mid {
            width: 65px;
            height: 65px;
            animation: midCircle $bezier-day-4 2s infinite alternate;
        }

        &--small {
            width: 30px;
            height: 30px;
            animation: smallCircle $bezier-day-4 2s infinite alternate;
        }
    }

    @keyframes bigCircle {
        0% {
            transform: scale(0);
        }

        10% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes midCircle {
        0% {
            transform: scale(0);
        }

        40% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes smallCircle {
        0% {
            transform: scale(0);
        }

        70% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}