/* GLOBAL STYLES */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

html {
  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  width: 400px;
  height: 400px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.center {
  position: relative;
}

.slider {
  width: 400px;
  height: 400px;
}

.slick-arrow {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &.slick-next {
    background-image: url(../img/arrow-right.png);
    right: 0;
    top: 50%;
    transform: translate(150%, -50%);
  }

  &.slick-prev {
    background-image: url(../img/arrow-left.png);
    left: 0;
    top: 50%;
    transform: translate(-150%, -50%);
  }
}
